body {
    background-image: url(../img/bkgnd/bkgnd_acercaDe.JPG);
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

main {
    margin: 0vh 10vw 0vh 10vw;
}

main h2 {
    color: dodgerblue;
    font-size: 1.2rem;
    margin-top: 30px;
}

nav #nav_acerca_de {
	background-color: #86a3d5;
	color: #ffffff;
	border-radius: 3px;
	padding:6px 10px;
}
