<main>
    
    <section class="verticalLine">
        <h2>Aviso Legal</h2>
        <p>
            Academia Gustavo está domiciliada en la calle C/ Ingeniero Bosch y Sintes, 7. Inscrita en el Registro Mercantil de Las Palmas de Gran Canaria.
        </p>
        <p>
            En la web https://academiagustavo.github.io hay una serie de contenidos de carácter informativo sobre la academia y los servicios prestados por la misma.
        </p>
        <p>
            <strong>Su principal objetivo</strong> es facilitar a los clientes y al público en general, la información relativa a la empresa, a los servicios que se ofrecen (clases que se imparten y el horario de las mismas).
        </p>

        <h2>Política de privacidad</h2>
        <p>
            Recogemos información sobre usted cuando contacta con nosotros. La información recolectada incluye su nombre, dirección de correo electrónico y número de teléfono. La información que recolectamos sobre usted es únicamente utilizada para responder a sus consultas.
        </p>
        <p>
            Además, recibimos y registramos automáticamente información sobre su computadora y su navegador, incluyendo su dirección IP, programa y atributos de hardware, y la página que solicitó. Todo esto con el fin de mejorar nuestro sitio web.
        </p>
    </section>
    
</main>