<main>
    <section id="section_clases" class="verticalLine">
        <h2>Clases particulares de Primaria, ESO y Bachillerato</h2>
        <p>
            Las siguientes materias se imparten en <em>clases en grupo</em>, <em>individuales</em>, <em>modalidad mixta</em>(grupo+individual) o <em>cursos intensivos de verano</em> (julio y agosto).
        </p>
        <p>
            Las clases son 3 horas a la semana distribuidas a lo largo de la semana en días alternos, esto es así porque consideramos que es la forma más efectiva para que el alumno aprenda y no pierda el ritmo de trabajo. <strong>Si está interesado en asistir a las clase puede <a href="../contacto.html">contactar</a> con nosotros para confirmar el horario</strong>.
        </p>
        
        <section>
            <h3><span id="asignaturasPrimESO" class="anchor"></span>Primaria y ESO</h3>
            <ul>
                <li>Matemáticas</li>
                <li>Lengua española</li>
                <li>Lengua extranjera: inglés y francés</li>
                <li>Física y Química</li>
                <li>Ciencias Sociales, Historia</li>
                <li>Dibujo</li>
                <li>Economía</li>
            </ul>
            <p>
                <strong>Si no encuentra la asignatura que desea en esta lista puede ponerse en <a href="../contacto.html">contacto</a> con nosotros y estaremos encantados de informarle.</strong>
            </p>
        </section>
        
        <section>
            <h3><span id="asignaturasBach" class="anchor"></span>Bachillerato</h3>
            <ul>
                <li>Matemáticas de ciencias tecnológicas y de ciencias sociales</li>
                <li>Lengua castellana y literatura</li>
                <li>Lengua extranjera: inglés y francés</li>
                <li>Física y Química</li>
                <li>Historia</li>
                <li>Dibujo Técnico</li>
                <li>Economía</li>
            </ul>
            <p>
                <strong>Si no encuentra la asignatura que desea en esta lista puede ponerse en <a href="../contacto.html">contacto</a> con nosotros y estaremos encantados de informarle.</strong>
            </p>
        </section>
        
        <h2><span id="clasesUni" class="anchor"></span>Universidad</h2>
        <p>
            Trabajamos en <strong>grupos reducidos</strong> y con un sistema de aprendizaje cooperativo. Elaboramos diferentes actividades en cada uno de ellos. <strong>Si está interesado en asistir a las clase puede <a href="../contacto.html">contactar</a> con nosotros para confirmar el horario</strong>.
        </p>
        
        <section>
            <h3><span id="asignaturasIng" class="anchor"></span>Ingenierías</h3>
            <ul>
                <li>Cálculo I y II</li>
                <li>Álgebra</li>
                <li>Métodos estadísticos</li>
                <li>Física I y II, Campos electromagnéticos y ondas</li>
                <li>Expresión gráfica</li>
                <li>Fundamentos de economía y empresa</li>
                <li>Química</li>
            </ul>
            
            <h3><span id="asignaturasArqui" class="anchor"></span>Arquitectura</h3>
            <ul>
                <li>Matemáticas</li>
                <li>Dibujo arquitectónico</li>
            </ul>
            
            <h3><span id="asignaturasMagEdFis" class="anchor"></span>Magisterio, Educación Física</h3>
            <ul>
                <li>Matemáticas y su didáctica I, II y III</li>
                <li>Estadística</li>
                <li>Inglés</li>
            </ul>
            
            <h3><span id="asignaturasADE" class="anchor"></span>Empresariales, Económicas, ADE, Turismo</h3>
            <ul>
                <li>Matemáticas</li>
                <li>Estadística</li>
                <li>Métodos cuantitativos</li>
            </ul>
            
            <h3><span id="asignaturasEnf" class="anchor"></span>Enfermería</h3>
            <ul>
                <li>Estadística</li>
            </ul>
            
            <p>
                <strong>Si no encuentra la asignatura que desea en esta lista puede ponerse en <a href="../contacto.html">contacto</a> con nosotros y estaremos encantados de informarle.</strong>
            </p>
        </section>
        
        
        <h2><span id="clasesAccesos" class="anchor"></span>PAU, Acceso para mayores de 25 años, Acceso a ciclos formativos</h2>
        <p>
            Te preparamos para superar las pruebas que te permita obtener el certificado de <strong>acceso ya sea a la universidad o a ciclos formativos</strong> de Formación Profesional sin necesidad de tener los requisitos académicos. Todas las especialidades. Te ayudamos a preparar las asignaturas principales de las diferentes pruebas. En algunas convocatorias conseguimos el 100% de aprobados.
        </p>
        <p>
            Puesto que la mayoría de los alumnos de estas clases tienen empleo, los horarios se suelen acordar entre el alumnado y el profesor. <strong>Si desea más información le invitamos a que <a href="../contacto.html">contacte</a> con nosotros.</strong>
        </p>
    </section>
    
    
    <aside id=list_aside class="aside_list">
        <ul>
            <li><a href="#asignaturasPrimESO">Primaria y ESO</a></li>
            <li><a href="#asignaturasBach">Bachillerato</a></li>
            <li>
                <a href="#clasesUni">Universidad</a>
                <ul>
                    <li><a href="#asignaturasIng">Ingenierías</a></li>
                    <li><a href="#asignaturasArqui">Arquitectura</a></li>
                    <li><a href="#asignaturasMagEdFis">Magisterio, Educación Física</a></li>
                    <li><a href="#asignaturasADE">Empresariales, Económicas, ADE, Turismo</a></li>
                    <li><a href="#asignaturasEnf">Enfermería</a></li>
                </ul>
            </li>
            <li><a href="#clasesAccesos">Acceso a Universidad y Ciclos</a></li>
        </ul>
    </aside>
</main>